<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Colonization</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <h1>Результаты отбора</h1>
    <h2>Претендента на участие в миссии {{ nickname }}</h2>
    <h3 style="background-color:#ceedda;color:#00471a;">Поздравляем! Ваш рейтинг после {{ level }} отбора</h3>
    <h3>состовляет {{ rating }}</h3>
    <h3 style="background-color:#fff2ce;color:#9f6923;">Желаем удачи</h3>
</body>
</html>